VITE_SUPABASE_URL=https://gyezffkzugbehooiquzz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5ZXpmZmt6dWdiZWhvb2lxdXp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc0OTAzOTYsImV4cCI6MjA2MzA2NjM5Nn0.iNpUcxvLUQUfcoLFQbpxXloKVRbUzSM5tbbi7BoyInk